* {
    margin: 5px;
    border: 50;
    padding: 10;
}

.board_title {
    margin-bottom: 50px;
}

.board_title strong {
  font-family: sans-serif;
    font-size: 1.rem;
}

.view_badge {
    width: 1000px;
    height: 55px;
    background: #666666;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 10px;
    margin: 0 auto;
    line-height: 55px;
    cursor: pointer;
    font-family: "Jeju Gothic" !important;
}
re.css
자리출석 index.txt 표시 중입니다.
